/* header | background | type */

body {
  background: #fff;
  color: #333;
}

h1,
h2 {
  color: #173040;
}

a {
  font-size: inherit;
  color: #2f5373;
}

a:hover {
  color: #f24405;
}

.color-band {
  height: 5px;
  background: #f24405;
}
