/* more custom styles */

.arabic,
.arabic-header,
.arabic-normal {
  direction: rtl;
  font-family: "nassim-arabic-pro", serif;
  line-height: 2em;
  /* unicode-bidi: bidi-override !important; */
}

.arabic {
  font-size: 2em;
  margin: 0 0 25px 0;
  padding: 15px 30px 15px 30px;
  background: #575757;
  border-bottom: 5px solid #000;
}

.arabic-normal {
  font-size: 1.8em;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 0;
  padding: 5px 30px 5px 20px;
  text-align: right;
}

/* old style font-family: 'Thabit', 'Scheherazade', Arial; */
/* font-family: "Droid Arabic Naskh", Arial; */

/* Clementine quote */

blockquote.clementine-quote {
  background-color: #f6f6f6;
  font-family: "nassim-arabic-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  line-break: 1;
  padding: 15px 30px 15px 30px;
  width: 95% auto;
  text-align: justify;
}

.drop-cap::first-letter {
  font-family: "nassim-arabic-pro", sans-serif;
  -webkit-initial-letter: 3;
  initial-letter: 3;
  color: #f24405;
  font-weight: bold;
  margin-right: 0.75em;
}

.date {
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  padding: 10px 15px 5px 15px;
}

.pages {
  margin-top: 15px;
  clear: both;
}

.home {
  margin: 15px 0 0 0;
}

.home a,
.home a:link,
.home a:visited {
  text-decoration: none;
  color: #fff;
  background-color: #438cca;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1rem;
}

.saws {
  font-style: normal;
}

.authorslastname li::first-word {
  font-weight: 900 !important;
}

.bio-pic img {
  float: left;
  padding: 0 5px 10px 0;
}

.mg-calendar {
  margin: 0 0 15px 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  /* Clementine quote */

  blockquote.clementine-quote {
    background-color: #f6f6f6;
    font-family: "nassim-arabic-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    padding: 7px 15px 7px 15px;
    float: none;
    width: auto;
  }

  .drop-cap::first-letter {
    -webkit-initial-letter: 3;
    initial-letter: 3;
    margin-right: 0.5em;
  }

  .pages {
    margin-top: 25px;
  }

  .date {
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    display: inline-block;
  }

  .bio-pic img {
    float: left;
    padding: 0 5px 5px 0;
  }
}
