@import url(https://use.typekit.net/lpf4yky.css);
* {
  margin: 0;
  box-sizing: border-box;
}
*,
.byline {
  padding: 0;
}
/* ------ Elements ------ */
dd,
p {
  line-height: 1.25;
}
ol,
ul {
  list-style: none;
}
a,
a:link,
a:visited,
p strong {
  text-decoration: none;
}
body,
dl,
li,
p,
ul {
  font-family: nassim-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  font-family: mr-eaves-sans, sans-serif;
  font-style: normal;
}
h1 {
  font-weight: 600;
  font-size: 2.3em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.6em;
  font-style: italic;
}
blockquote,
dd,
li,
p {
  font-size: 1.4em;
}
a,
a:link,
a:visited {
  color: #0455bf;
  font-weight: 600;
}
p {
  margin-bottom: 15px;
  font-weight: 400;
}
dd {
  font-weight: 500;
  color: #333;
  margin: 0 0 10px;
}
li {
  line-height: 1;
  margin: 0 0 5px;
}
blockquote {
  font-weight: 400;
  font-style: normal;
  padding: 15px 30px;
}
iframe {
  border: none;
}
/* ------ ID's ------ */
#wrapper {
  width: 96%;
  max-width: 800px;
  margin: auto;
  padding: 2%;
}
#homepage-links dd {
  font-size: 1.5em;
}
#main-footer {
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  background: #f24405;
  margin: 15px 0 0;
  padding: 10px 0 0;
  color: #fff;
  border-radius: 5px;
}
#main-footer p {
  font-size: 1.8rem;
}
#main-footer,
.job h4 {
  font-family: "Days One", sans-serif;
}
/* ------ Classes ------ */
.main-content {
  margin: 25px 0 0;
}
.main-content h3 {
  margin: 0 0 1rem;
  line-height: 1.3rem;
}
.main-content p {
  font-size: 1.6em;
}
.byline {
  margin: 0;
}
.byline h4 {
  margin-bottom: 15px;
}
.author-intro p {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: justify;
  background-color: #888;
  color: #f1f1f1;
}
.author-intro a {
  color: #333;
}
.expertise,
.job,
.job-skills-tags,
.pro,
.article-content {
  margin: 20px 0 0;
}
.article-content h1 {
  margin: 0 0 15px 15px;
}
.article-content img {
  float: left;
  background: #fff;
  padding: 4px 4px 4px 0;
  margin: 4px 15px 0 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.article-content-img {
  width: 100%;
  margin: 15px 0 8px;
  /* background-color: #888; */
}
img.article-content-img {
  padding-bottom: 10px;
}
.header dd,
.header header {
  margin: 0 0 15px;
}
.header dl {
  margin: 20px 0 5px;
}
.header dl dd {
  line-height: 0.75;
}
.header a {
  font-weight: 500;
}
.header img {
  width: 100%;
  margin: 1rem 0 0;
}
/* ------ Main Nav ------ */
dd.address,
dd.apple,
dd.email,
dd.fb,
dd.git,
dd.link-bio,
dd.me2,
dd.middleground,
dd.phone,
dd.readinglist,
dd.thegram,
dd.twitter {
  padding: 0 0 0 25px;
}
dd.phone {
  background: url(../media/imgs/phone-bk2.png) left no-repeat;
}
dd.address {
  background: url(../media/imgs/googlemaps2.png) left no-repeat;
}
dd.email {
  background: url(../media/imgs/email2.png) left no-repeat;
}
dd.git {
  background: url(../media/imgs/github2.png) left no-repeat;
}
dd.thegram {
  background: url(../media/imgs/instagram2.png) left no-repeat;
}
dd.twitter {
  background: url(../media/imgs/twitter2.png) left no-repeat;
}
dd.middleground {
  background: url(../media/imgs/middle-ground2.png) left no-repeat;
  text-transform: capitalize;
}
dd.apple {
  background: url(../media/imgs/podcast.png) left no-repeat;
}
dd.me2 {
  background: url(../media/imgs/marcmanley-logo-m-5.png) left no-repeat;
}
dd.readinglist {
  background: url(../media/imgs/readinglist2.png) left no-repeat;
}
dd.link-bio {
  background: url(../media/imgs/link.bio.png) left no-repeat;
}
dd.fb {
  background: url(../media/imgs/facebook.png) left no-repeat;
}
/* ------ Media Queries ------ */
@media screen and (max-width: 480px) {
  #home-page p {
    font-size: 1.6em;
  }
  .header h1,
  .header p,
  .main-content {
    margin: 1rem 0 0;
  }
  #homepage-links dd {
    font-size: 1.55em;
  }
  #skipTo,
  header nav a,
  header nav li {
    display: block;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.8rem;
    line-height: 1.5rem;
  }
  .header p {
    line-height: 1.25rem;
  }
  .main-content h3 {
    font-size: 1.6rem;
    margin: 0 0 1rem;
    line-height: 1.3rem;
  }
  .main-content p {
    font-size: 1.6em;
  }
  #main-footer p,
  .author-intro p {
    font-size: 1.4rem;
  }
  .author-intro p {
    padding: 1rem;
    text-align: justify;
    background-color: #888;
    color: #f1f1f1;
  }
  #main,
  aside,
  header nav {
    float: left;
    clear: left;
    margin: 0 0 10px;
    width: 100%;
  }
  header nav li {
    margin: 0 0 3px;
    background: #efefef;
  }
  header nav a {
    padding: 10px;
    text-align: center;
  }
  .youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
} /* ------ End Media Queries ------ */
